.app__grid {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.app__grid_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app__grid_title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.app__grid_no_movies {
    margin-top: 4rem;
}

.app__grid_item_container {
    position: relative;
}

.app__grid_item {
    background-position: center 10%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 112.5px;
    margin: 0.15rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0.25rem;
    border: 1px solid var(--grey);
    cursor: pointer;
    transition-delay: 1s;
    transition: transform 0.25s;
}

.app__grid_item_container:hover .app__grid_item {
    position: relative;
    transform: scale(1.25);
    z-index: 1;
}

.app__grid_item_fallback_text {
    font-size: 0.5rem;
    z-index: -1;
}

.app__grid_item_title {
    font-size: 0.65rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .app__grid_no_movies {
        margin-top: 6rem;
    }
}
