.app__splash {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.app__splash_img {
    background-position: center 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
    height: 100vh;
}

.app__splash_content {
    position: absolute;
    margin: 1rem 1rem 2rem;
}

.app__splash_title {
    font-weight: bold;
    font-size: 2rem;
}

.app__splash_info {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.app__rating {
    border: 1px solid var(--white);
    text-transform: uppercase;
    padding: 0.05rem 0.15rem;
}

.app__splash_genre {
    margin-left: 0.25rem;
}
