.app__splash {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.app__splash_img {
    background-position: center 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
    height: 100vh;
}

.app__splash_content {
    position: absolute;
    margin: 1rem 1rem 2rem;
}

.app__splash_title {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.25rem;
}

.app__splash_info {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.app__rating {
    border: 1px solid var(--white);
    text-transform: uppercase;
    padding: 0.05rem 0.15rem;
    white-space: nowrap;
}

.app__splash_genre {
    margin-left: 0.25rem;
}

.app__splash_save_button {
    color: var(--white);
}

.app__splash_save_icon {
    width: 18px;
    height: 18px;
    transition: transform 0.15s;
}

.app__splash_save_icon:hover {
    transform: scale(1.25);
}
