.app__splash {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: height 0.25s;
}

.app__splash_open {
    height: 90vh;
}

.app__splash_img {
    background-position: center 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.4;
    height: 100vh;
}

.app__splash_content {
    position: absolute;
    top: 11rem;
    left: 1rem;
}

.app__splash_title {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.25rem;
}

.app__splash_info {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.app__rating {
    border: 1px solid var(--white);
    text-transform: uppercase;
    padding: 0.05rem 0.15rem;
    white-space: nowrap;
}

.app__splash_genre {
    margin-left: 0.25rem;
}

.app__splash_save_button {
    color: var(--white);
}

.app__splash_save_icon {
    width: 18px;
    height: 18px;
    transition: transform 0.15s;
}

.app__splash_save_icon:hover {
    transform: scale(1.25);
}

.app__splash_more_info_btn_container {
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
}

.app__splash_more_btn {
    color: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: none;
    transition: color 0.25s, border 0.25s;
    cursor: pointer;
}

.app__splash_more_btn:hover {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.app__splash_more_btn:focus {
    outline: none;
}

.app__splash_more_icon {
    width: 20px;
    height: 20px;
}

.app__splash_more_info {
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 0.25s;
}

.app__splash_more_info_show {
    opacity: 1;
}

.app__splash_more_info_section {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.app__splash_more_info_section > div {
    max-width: 30%;
}

.app__splash_more_info_title {
    font-weight: bold;
}

.app__splash_more_info_overview {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .app__splash_more_info_section {
        display: block;
    }

    .app__splash_more_info_overview {
        margin-bottom: 0.5rem;
    }

    .app__splash_more_info_section > div {
        margin-bottom: 0.5rem;
        max-width: 100%;
    }
}
