:root {
    --black: #0e0e0e;
    --white: #ffffff;
    --grey: #302f2f;
    --red: #e50a13;
    --darker-red: #a8060b;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    background-color: var(--black);
    color: var(--white);
}

.app {
    box-sizing: border-box;
}

.app__button {
    padding: 0.25rem 0.5rem;
    transition: background-color 0.25s;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.65rem;
    border-radius: 3px;
}

