:root {
    --black: #0e0e0e;
    --white: #ffffff;
    --red: #e50a13;
    --darker-red: #a8060b;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    background-color: var(--black);
    color: var(--white);
}

.app {
    box-sizing: border-box;
}

.app__button {
    padding: 0.25rem 0.5rem;
    transition: background-color 0.25s;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.65rem;
    border-radius: 3px;
}

.app__header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.app__header_mobile {
    display: none;
}

.app__header_title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

.app__header_search {
    min-width: 50%;
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    padding: 0 0.25rem;
    border-radius: 3px;
}

.app__header_search:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app__header_search_input {
    min-width: 86%;
    border: none;
    font-size: 0.65rem;
    padding: 0.25rem;
    background: none;
    color: white;
}

.app__header_search_input:focus {
    outline: none;
}

.app__header_search_bar_icon {
    margin-right: 0.25rem;
}

.app__header_search_bar_icon,
.app__header_search_icon {
    width: 18px;
    height: 18px;
}

.app__header_playlist_button {
    background-color: var(--red);
    color: white;
}

.app__header_playlist_button:hover {
    background-color: var(--darker-red);
}

.app__header_search_button {
    background-color: var(--red);
    color: white;
}

.app__header_search_button:hover {
    background-color: var(--darker-red);
}

.app__header_playlist_icon {
    margin-right: 0.25rem;
}

/* This will handle ipad and smaller devices */
@media screen and (max-width: 768px) {
    .app__header_desktop {
        display: none;
    }

    .app__header_mobile {
        display: block;
    }

    .app__header_mobile_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .app__header_mobile_search .app__header_search_input {
        font-size: 0.8rem;
    }

    .app__header_playlist_text {
        display: none;
    }

    .app__header_playlist_icon {
        margin-right: 0;
    }
}
